html {
    height:100%;
}

body  {
    height: 100%;

}



.container {
    height:100%;
}



.banner {
    display:flex;
    
    height:40%;
    max-height: 300px;
    text-align: center;
    background-color: rgb(192, 11, 5);
    
}

img .logo {
    object-position: center;
    margin-left: 2%;
    
    
}

.orderPage {
    display:flex;
    background-color: rgb(255, 255, 0, .5);
    height:100%;


}

.form, .info {
    width:50%;
}
 
.form {
    padding-left: 15%;
}

.input {
    margin-top: 4%;
    width: 60%;
    border-radius: 4px;
}

.userName {
    margin-top: 1%;
}

.instruction {
    margin-bottom: 1%;
}

.button {
    width:20%;
    height: 8%;
    margin-top: 4%;
}

.fab {
    font-size: 20px;
    margin-right: 5%;
}


/* thank you page */


.thankYouBody{
    
    background: url("tasty-pepperoni-pizza-black-concrete-background_79782-102.jpg");
    background-size: cover;
    height:100%;
    font-size: 20px;

}

.thankYou {
    color:white;
    padding-left: 10%;
    padding-top: 10%;
}

.pizzaGuy {
    float:left;
    margin-top: 2%;
    margin-right: 2%;
}

.youOrdered {
    margin-top: 3%;
}

.breakLine {
    margin-top: 3%;
}




